body {
  background-color: whitesmoke;
  margin: 60px;
 

}


.nav {

  border-top: 8px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
  text-align: center;

}


article {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;

}

img {
  width: 50%;
  text-align: center;

}


h1 {
  font-size: 46px;
  color: black;
  margin: 60px;
  width: 92%;
  margin-left: 45px;
  text-align: center;
}

h2 {

  font-size: 26px;
  color: black;
  margin: 60px;
  width: 92%;
  margin-left: 45px;
  text-align: center;


}

.story_image {
  width: 100%;


}

.caption {
 font-family: 'Montserrat', sans-serif;
 font-size: 15px; 
 font-style: italic;
 color: black;
}

footer {
  padding-left: 20px;
  margin-top: 30px;
  font-family: font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 12px;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

p{

font-family: 'Montserrat', sans-serif;
background-color: whitesmoke;
color: black;

}